html {
    box-sizing: border-box;
    
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* above lines are from this article https://css-tricks.com/box-sizing/- 
Universal Box Sizing with Inheritance */

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(89, 110, 228);

}

.qstContainer {
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    /* shadow is x offset, y offset, blur, spread- how far out  */
    box-shadow: 0 0 10px 2px;
    margin: 50px;
}

#question-container {
    font-size: 20px;
}

.answer-grid {
    display: grid;
    grid-row-gap: 10px;
    margin: 20px 0;
}

#highScores,
#timer {
    background-color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.header-grid {
    width: 800px;
    max-width: 80%;
    background-color: rgb(217, 217, 221);
    border-radius: 5px;
    padding: 10px;
    /* shadow is x offset, y offset, blur, spread- how far out  */
    box-shadow: 0 0 10px 2px;
    margin: 50px;
    height: auto;
    
}

#yourScore {
    color: rgb(4, 87, 4);
    font-size: 20px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;

}

#close-btn {
    background-color: rgb(153, 49, 49);
    color: white;
    align-items: right;
    width: auto;
    margin-left: 350px;
    
}

.btn:hover {
    border-color: rgb(99, 238, 99);
}

#start-btn {
    background-color: rgb(97, 230, 97);
}

.btn.wrong {
    background-color: whitesmoke;
    color: black;
    border-color: red;
    border-width: 2px;
}

.btn.correct {
    background-color: rgb(118, 216, 118);
    color: black;
}

.big-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
   
}

#start-over-btn {
    background-color: rgb(97, 230, 97);
    margin-right: 10px;
    margin-left: 10px;
}

#clear-high-btn {
    background-color: deepskyblue;
    color: whitesmoke;
}

#submit-score {
    background-color: rgba(0, 102, 255, 0.747);
    color: whitesmoke;
}

.hide {
    display: none;
}

.timer {
    margin-left: 50px;
}

#correctMessage {
    font-weight: bold;
    font-style: italic;
    color: rgb(6, 223, 6);
}

#wrongMessage {
    font-weight: bold;
    font-style: italic;
    color: rgb(223, 6, 6);
}